<!-- the section to display the document Title and the EDIT button -->
<div id="title-container" class="d-flex align-items-center">
  <div>
    <h4 class="d-inline text-light fs-5 fw-light">{{ doc_title }}</h4>
    <button class="btn btn-sm btn-outline-light ms-2"
            hx-get="/edit-title-form?doc_id={{ doc_id }}&doc_title={{ doc_title|urlencode }}" 
            hx-target="#title-container"
            hx-swap="innerHTML">
      <i class="bi bi-pencil-square"></i>
    </button>
  </div>
</div> 