<nav id="sidebar">
	<div class="sidebar-header">
		<h3><a href="/dashboard">Dashboard</a></h3>
	</div>

	

	<ul class="list-unstyled components h8 font-weight-normal">

		<!-- <li>
			<a href="{{url_for("devices") }}">  
				<i class="glyphicon glyphicon-home"></i> Dashboard
			</a>
		</li> -->

		<li>
			<a href="{{url_for("devices") }}"> 
				<i class="bi bi-1-circle"></i>
				Devices
				
			</a>
		</li>

		<li>
			<a href="https://blog.qlines.net"> 
				<i class="glyphicon glyphicon-wrench"></i> Blog
			</a>
		</li>		

		<li>
			<a href="{{url_for("logout") }}"> 
				<i class="glyphicon glyphicon-log-out"></i> Log out
			</a>
		</li>

	</ul>
</nav>