{% extends 'dash_base_template.html' %}

{% block header_content %}

<script src="static/js/add_device.js"></script>
<script src="/static/js/device_overview_table.js"></script>


{% endblock %}


{% block page_content %}

<table id="data" class="table table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Client Name</th>
            <th>First Message</th>
            <th>Last Message</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br>
<br>

<div>
    <p>To manage and monitor a client, it must be added first to the platform.</p>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAddDevice">
        Add client
    </button>

    <!-- <button type="button" class="btn btn-primary" id="add_device_submit2">Submit</button> -->
</div>

<!-- The Modal -->
<div class="modal" id="ModalAddDevice">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add client</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <div class="container">
                    <div class="form-group row">
                        <div class="col-xs-2">
                            <label for="ex1">Enter client name:</label>
                            <input name='client_name' class="form-control" id="ex1" type="text">
                        </div>
                    </div>

                    <img id="wait" style="display:none;padding:3px" src='/static/images/loading.gif' width="25"
                        height="25" />
                    <br>
                    <br>
                    <span id=result></span>

                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="add_device_submit">Submit</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}