<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Qlines</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Effortlessly deploy your devices, seamlessly monitor agents with Qlines - a remote access solution." />
<meta name="keywords" content="iot, iiot, raspberry pi, esp 32, rpi, remote control, remote management, remote access, esp32, remote access, device deployment, agent monitoring, Qlines" />
<meta name="author" content="qlines" />

<!-- Facebook and Twitter Integration -->
<meta property="og:title" content="Qlines - Your Remote Access Solution" />
<meta property="og:url" content="https://www.qlines.net" />
<meta property="og:site_name" content="Qlines" />
<meta property="og:description" content="Effortlessly deploy your devices, seamlessly monitor agents with Qlines - a remote access solution." />

<meta name="twitter:title" content="Qlines - Your Remote Access Solution" />
<meta name="twitter:url" content="https://www.qlines.net" />

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="/static/css/animate.css">
<link rel="stylesheet" href="/static/css/icomoon.css">
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/magnific-popup.css">
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/static/css/style.css">

<!-- Favicon -->
<link rel="icon" type="image/png" href="/static/images/favicon.png" sizes="16x16">

<!-- Modernizr JS -->
<script src="/static/js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="/static/js/respond.min.js"></script>
<![endif]-->

<!-- Google Analytics -->
{% include 'google_analytics_tag.html' %}