<!DOCTYPE HTML>
<html>

<head>
    {% include 'header.html' %}

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>

</head>

<body>

    <!-- jQuery -->
    <script src="static/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="static/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="static/js/jquery.waypoints.min.js"></script>
    <!-- Stellar Parallax -->
    <script src="static/js/jquery.stellar.min.js"></script>
    <!-- YTPlayer -->
    <!-- Owl carousel -->
    <script src="static/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/magnific-popup-options.js"></script>
    <!-- Counters -->
    <script src="static/js/jquery.countTo.js"></script>
    <!-- Main -->
    <script src="static/js/main.js"></script>

    <div class="colorlib-loader"></div>

    <div id="page">
        {% include 'nav.html' %}

        <section id="home" class="video-hero"
            style="height: 400px; background-image: url(static/images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;"
            data-section="home">
            <div class="overlay"></div>
            <a class="player"
                data-property="{videoURL:'',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
            <div class="display-t text-center">
                <div class="display-tc">
                    <div class="container">
                        <div class="col-md-12 col-md-offset-0">
                            <div class="animate-box">
                                <h2>Subscription and Pricing</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="colorlib-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center animate-box">
                        <div class="staff-entry">
                            <h3>Trial</h3>
                            <h1 style="display: inline-block">€ 0</h1>
                            <h5 style="display: inline-block">/ month</h5>
                            <div class="desc text-left">
                                <p>✔ One agent</p>
                                <p>✔ 100 interactions per day</p>
                                <p>✔ One dashboard user</p>
                                <p>✔ 7-days trial period</p>
                            </div>
                            <button type="button" class="btn btn-success">Subscribe</button>
                        </div>
                    </div>
                    <div class="col-md-3 text-center animate-box">
                        <div class="staff-entry">
                            <h3>Standard</h3>
                            <h1 style="display: inline-block">€ 9.99</h1>
                            <h5 style="display: inline-block">/ month</h5>
                            <div class="desc text-left">
                                <p>✔ Up to 10 agents</p>
                                <p>✔ 100K interactions per day</p>
                                <p>✔ 3 dashboard users</p>
                            </div>
                            <button type="button" class="btn btn-success">Subscribe</button>

                        </div>
                    </div>
                    <div class="col-md-3 text-center animate-box">
                        <div class="staff-entry">
                            <h3>Premium</h3>
                            <h1 style="display: inline-block">€ 79.99</h1>
                            <h5 style="display: inline-block">/ month</h5>
                            <div class="desc text-left">
                                <p>✔ Up to 100 agents</p>
                                <p>✔ 5M interactions per day</p>
                                <p>✔ 10 dashboard users</p>
                            </div>
                            <button type="button" class="btn btn-success">Subscribe</button>
                        </div>
                    </div>

                    <div class="col-md-3 text-center animate-box">
                        <div class="staff-entry">
                            <h3>Custom Setup</h3>
                            <h1 style="display: inline-block">€ ?</h1>
                            <h5 style="display: inline-block">/ month</h5>
                            <div class="desc text-left">
                                <p>✔ Custom number of agents</p>
                                <p>✔ Custom cloud interaction</p>
                                <p>✔ Customised GUI</p>
                                <p>✔ Customised protocols</p>
                                <p>✔ Customised workflows</p>
                            </div>
                            <button type="button" class="btn btn-success">Contact</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    {% include 'footer.html' %}

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

</body>

</html>