<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test4</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
</head>


<div hx-get="get_some_html" hx-swap="innerHTML" hx-trigger="click"> click me</div>

<div hx-get="/get_some_html" hx-swap="innerHTML transition: opacity 0.5s" hx-target="#results">
    Click to load new content
</div>


<div id="results">results here</div>


<button hx-delete="/account" hx-confirm="Are you sure?">
    Delete My Account
</button>
<button hx-put="/account" hx-confirm="Are you sure?">
    Update My Account
</button>


<div hx-boost="true">
    <a href="/content">Content</a>
</div>


<form action="/search" method="POST">
    <input class="form-control" type="search" name="search" placeholder="Search your course.." hx-post="/search"
        hx-trigger="keyup changed delay:500ms, search" hx-target="#search-results" hx-indicator=".htmx-indicator">
</form>


<div id="chat-container" hx-ws="connect:wss://echo.websocket.org">
    dddd
</div>


<div id="chat-box"></div>
<form hx-ws="send" hx-target="#chat-container" hx-swap="beforeend">
    <input type="text" name="message" placeholder="Type a message...">
    <button type="submit">Send</button>
</form>

<div id="#chat-box">sss</div>

<style>
    .form.htmx-request {
        opacity: .5;
        transition: opacity 300ms linear;
    }
</style>

<form hx-post="/name" hx-swap="outerHTML">
    <label>Name:</label><input name="name"><br />
    <button class="btn primary">Submit</button>
</form>



<form class="sortable" hx-post="/items" hx-trigger="end">
    <div class="htmx-indicator">Updating...</div>
    <div><input type='hidden' name='item1' value='1' />Item 1</div>
    <div><input type='hidden' name='item2' value='2' />Item 2</div>
    <div><input type='hidden' name='item3' value='3' />Item 3</div>
</form>

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.14.0/Sortable.min.js"></script>
<script>
    htmx.onLoad(function (content) {
        var sortables = content.querySelectorAll(".sortable");
        for (var i = 0; i < sortables.length; i++) {
            new Sortable(sortables[i], {
                animation: 150,
                ghostClass: 'blue-background-class'
            });
        }
    })
</script>